<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{{!Screen class that sets window scaling}}
<div class="screen">

    {{!Define contact background box}}
    <div class="contact-background"></div>

    <div class="contact-content-title">
      Contact Us
    </div>

    {{!Display account information}}
    <div class="contact-info">

      <table id="contact-table">
        <tr>
          <td>Name</td>
          <td>
            <Input
              aria-label="name"
              id = "n"
              @type="type"
              size = "30"
              @value={{this.name}}
              {{on "input" this.validateNames}}
            />
          </td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
            <Input
              aria-label="email"
              id = "e"
              @type="type"
              size = "30"
              @value={{this.email}}
              {{on "input" this.validateNames}}
            />
          </td>
        </tr>
        <tr>
          <td>Message</td>
          <td>
            <Textarea
              aria-label="message"
              id = "m"
              @value={{this.message}}
              rows="12"
              cols="30"
              {{on "input" this.validateNames}}
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="submit-contact">
              <Input
                aria-label="send"
                id = "s"
                @type="submit"
                @value={{this.send}}
                {{on "click" this.sendEmail}}
              />
          </div>
          </td>
        </tr>
      </table>
    </div>
</div>
