<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="screen">
  <div class="content-area">

    <table class="login-table"><tr>
      <td class="cell">

        <form>
          <div class="user-input">
            <div class="field-label">
              <span class="material-symbols-outlined">person</span>
            </div>

            <div class="field">
              <Input
                aria-label="username"
                @type="text"
                @value={{this.UserName}}
              />
            </div>
          </div>

          <div class="user-input">
            <div class="field-label">
              <span class="material-symbols-outlined">key</span>
            </div>

            <div class="field">
              <Input
                aria-label="password"
                @type="password"
                @value={{this.PassWord}}
              />
            </div>
          </div>

          <div class="user-input">
            <div class="field-label">
              <span class="material-symbols-outlined">check</span>
            </div>

            <div class="check-field">
              <Input
                aria-label="remember"
                @type="checkbox"
                @checked = {{this.remember}}
              />
              remember me
            </div>

            <div class="submit-field">
              <Input
                aria-label = "submit"
                disabled = {{this.disableSubmit}}
                @type="submit"
                @value="Login"
                {{on "click" this.onSubmit}}
              />
            </div>
          </div>

        </form>
      </td><td style="border: 0px"></td>
    </tr></table>
  </div>
</div>
