<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{{!Screen class that sets window scaling}}
<div class="screen">

  {{!Define content area in center of screen}}
  <div class="content-area">

    {{!Define two cell login table, one side with login, other with pic}}
    <table class="login-table"><tr>

      {{!Contains login content}}
      <td class="login-cell">

        {{!Define login form}}
        <form>

          {{!Username input div}}
          <div class="user-input">
            <div class="field-label">
              <span class="material-symbols-outlined">person</span>
            </div>

            <div class="field">
              <Input
                aria-label="username"
                id = "un"
                @type="text"
                @value={{this.UserName}}
                {{on "input" this.validateNames}}
              />
            </div>
          </div>

          {{!Password input div}}
          <div class="user-input">
            <div class="field-label">
              <span class="material-symbols-outlined">key</span>
            </div>

            <div class="field">
              <Input
                aria-label="password"
                id = 'pw'
                @type="password"
                @value={{this.PassWord}}
                {{on "input" this.validateNames}}
              />
            </div>
          </div>

          {{!Remember Me div}}
          <div class="user-input">
            <div class="field-label">
              <span class="material-symbols-outlined">check</span>
            </div>

            <div class="check-field">
              <Input
                aria-label="remember"
                @type="checkbox"
                @checked = {{this.remember}}
              />
              remember me
            </div>

            {{!Submit div div}}
            <div class="submit-field">
              <Input
                aria-label = "submit"
                disabled = {{this.disableSubmit}}
                @type="button"
                @value="Login"
                {{on "click" this.submitData}}
              />
            </div>
          </div>

        </form>
      </td><td style="border: 0px"></td>
    </tr></table>
  </div>
</div>
