<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{{!Screen class that sets window scaling}}
<div class="screen">

  {{#if this.authManager.isLoggedIn}}

    {{!Define content area in center of screen}}
    <div class="content-area">

      {{!Define project background box}}
      <div class="project-background"></div>

      {{!Define content area header}}
      <div class="content-header">
          <div class="content-username-specialty">
            {{this.authManager.username}} - {{this.specialty}}
          </div>

          <div class="content-role">
            {{this.authManager.usergroup}} Console
          </div>
      </div>

      {{!Display all pertinent projects}}
      <div class="project-listing">
        <div class="listing-text">
          <table width="100%" border="1px">
            {{#each this.testProjects as |proj|}}
              <tr>
                <td>{{proj.id}}</td>
                <td width="300px">{{proj.name}}</td>
                {{#if this.isLead}}
                  <td><LinkTo @route="projectManagement">Project Dashboard</LinkTo></td>
                {{/if}}
                <td>Project Entries</td>
              </tr>
            {{/each}}

          </table>
        </div>
      </div>
    </div>
    {{else}}
      test
      {{this.redirectToLogin}}
    {{/if}}
</div>
